body {
    margin: 0;
}
#navbar-main {
    box-shadow: 0 1px 10px rgba(130, 130, 134, .1);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 15px;
}
#navbar-main img {
    height: 32px !important;
}
#navbar-main .navbar-nav .nav-link {
    font-size: 1rem;
    color: #0da4d3!important;
}
.pull-right{
  float: right;
}

.container {
  padding-right: 5%;
  padding-left: 5%;
}
