a {
  color: #0da4d3;
}
.text-primary {
  color: #0da4d3 !important;
}

.navbar-brand img {
  height: 2rem;
}
.product-desc {
  min-height: 86px;
}
.bg-gradient-lightest {
  background-color: #f9fbfd;
}
.bg-gradient-lighter2 {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f9fbfd),to(#fff));
    background-image: linear-gradient(to bottom,#f9fbfd 0,#fff 100%);
}
.bg-gradient-info-2 {
    background: linear-gradient(-145deg, #4ab5ca 0, #1171ef 100%) !important;
}
.border-bottom2 {
  border-bottom: 1px solid #f1f4f8!important;
}

.border-top2 {
  border-top: 1px solid #f1f4f8!important;
}

#navbar-main {
  box-shadow: 0 1px 10px rgba(130, 130, 134, .1);
  padding-top: .5rem;
  padding-bottom: .5rem;
}
#navbar-main .navbar-nav .nav-link {
  font-size: 1rem;
  color: #0da4d3!important;
}
#navbar-main .navbar-nav .nav-link:hover {
  background-color: #f8f8f8;

  /* background-color: #fff; */
  /* border: 1px solid #eee; */
  /* z-index: 99999999; */
}

@media (min-width: 992px) {
  #navbar-main .dropdown-menu {
    /* border: 1px solid #e1e1e8!important; */
    top: 56px!important;
    left: auto!important;
    right: -20px!important;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 0;
  }

  #navbar-main .dropdown-menu:before {
    left: auto!important;
    right: 70px!important;
  }

  #navbar-main .dropdown-menu a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .25rem;
  }
  #navbar-main .dropdown-menu a:hover {
    color: #666!important;
    background-color: #f5f5f5!important;
  }

  #navbar-main .nav-item .media {
    margin-bottom: 0 !important;
  }
}

.headroom--not-top {
  background-color: #fff !important;
}

.com {
    color: #93a1a1
}

.lit {
    color: #195f91
}

.clo,.opn,.pun {
    color: #93a1a1
}

.fun {
    color: #dc322f
}

.atv,.str {
    color: #d14
}

.kwd,.prettyprint .tag {
    color: #1e347b
}

.atn,.dec,.typ,.var {
    color: teal
}

.pln {
    color: #48484c
}

.prettyprint {
    padding: 8px !important;
    background-color: #f7f7f9 !important;
    border: 1px solid #efefef !important;
}

.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0 !important;
    box-shadow: inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0 !important;
}

ol.linenums {
    margin: 0 0 0 -10px ;
}

ol.linenums li {
    padding-left: 12px ;
    color: #bebec5 ;
    line-height: 20px ;
    text-shadow: 0 1px 0 #fff ;
}
.linenums li {
    list-style-type: decimal !important;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.message-box {
    color: #525f7f;
    border: 1px solid #eee;
    background-color: #fff;
}
.message-box i {
    color: #ccc;
}

a.anchor-link {
  position: absolute;
  left: -16px;
  color: #eee;
  font-size: .8em!important;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 3px
}

h1:focus a.anchor-link, h1:hover a.anchor-link,
h2:focus a.anchor-link, h2:hover a.anchor-link,
h3:focus a.anchor-link, h3:hover a.anchor-link,
h4:focus a.anchor-link, h4:hover a.anchor-link,
h5:focus a.anchor-link, h5:hover a.anchor-link,
h6:focus a.anchor-link, h6:hover a.anchor-link {
  color: #4e4e4e
}

@media (max-width: 767px) {
  a.anchor-link {
      left:auto
  }
}
