a {
  color: #0da4d3;
}
.text-primary {
  color: #0da4d3 !important;
}

.product-desc {
  min-height: 86px;
}
.bg-gradient-lightest {
  background-color: #f9fbfd;
}
.bg-gradient-lighter2 {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f9fbfd),to(#fff));
    background-image: linear-gradient(to bottom,#f9fbfd 0,#fff 100%);
}
.bg-gradient-info-2 {
    background: linear-gradient(-145deg, #4ab5ca 0, #1171ef 100%) !important;
}
.border-bottom2 {
  border-bottom: 1px solid #f1f4f8!important;
}
.border-top2 {
  border-top: 1px solid #f1f4f8!important;
}
.navbar-brand {
  margin-right: 0;
}
.navbar-brand img {
  height: 2rem;
}

.lead {
  margin-top: 0;
}

.footer-logo {
  /* height: 1.5rem; */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
.footer-logo:hover, .footer-logo:focus {
  -webkit-filter: grayscale(0);
  filter: none;
}

#navbar-main {
  box-shadow: 0 1px 10px rgba(130, 130, 134, .1);
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 992px) {
  #navbar-main {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .navbar-collapse {
    top: 3rem;
  }
  .navbar-icons-panel {
    flex-direction: row;
    justify-content: center!important;
  }
  .navbar-icons-panel li {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #navbar-main .navbar-nav .nav-link {
    text-align: center;
  }
  #navbar-main .navbar-nav .dropdown .nav-link {
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  #navbar-main .dropdown-menu {
    display: block;
    text-align: center;
  }

}
#navbar-main .navbar-nav .nav-link {
  font-size: 1rem;
  color: #0da4d3!important;
  border-radius: 0;
}
#navbar-main .navbar-nav .nav-link:hover {
  background-color: #f8f8f8;
}
#navbar-main .navbar-nav .nav-link i {
  margin-right: auto !important;
}


.headroom--not-top {
  background-color: #fff !important;
}

.com {
    color: #93a1a1
}

.lit {
    color: #195f91
}

.clo,.opn,.pun {
    color: #93a1a1
}

.fun {
    color: #dc322f
}

.atv,.str {
    color: #d14
}

.kwd,.prettyprint .tag {
    color: #1e347b
}

.atn,.dec,.typ,.var {
    color: teal
}

.pln {
    color: #48484c
}

.prettyprint {
    padding: 8px !important;
    background-color: #f7f7f9 !important;
    border: 1px solid #efefef !important;
}

.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0 !important;
    box-shadow: inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0 !important;
}

ol.linenums {
    margin: 0 0 0 -10px ;
}

ol.linenums li {
    padding-left: 12px ;
    color: #bebec5 ;
    line-height: 20px ;
    text-shadow: 0 1px 0 #fff ;
}
.linenums li {
    list-style-type: decimal !important;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.message-box {
    color: #525f7f;
    border: 1px solid #eee;
    background-color: #fff;
}
.message-box i {
    color: #ccc;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #090910;
}

/* New Anchor */
.anchor a {
  position: relative;
  color: #090910
}
.anchor a::before {
  content: "#";
  position: absolute;
  left: 100%;
  margin: auto 5px;
  font-weight: 400;
  color: #ccc;
  bottom: 0;
}
.anchor:focus a::before, .anchor:hover a::before {
  color: #0da4d3;
}

/* Old Anchor */
a.anchor-link {
  position: absolute;
  left: -16px;
  color: #eee;
  font-size: .8em!important;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 3px
}

h1:focus a.anchor-link, h1:hover a.anchor-link,
h2:focus a.anchor-link, h2:hover a.anchor-link,
h3:focus a.anchor-link, h3:hover a.anchor-link,
h4:focus a.anchor-link, h4:hover a.anchor-link,
h5:focus a.anchor-link, h5:hover a.anchor-link,
h6:focus a.anchor-link, h6:hover a.anchor-link {
  color: #4e4e4e
}

.flag-forkme {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1040;
  width: 149px;
  height: 149px;
}

.flag-forkme:hover, .flag-forkme:focus{
  opacity: 1;
}

@media (min-width: 992px) {
  #navbar-main .dropdown-menu {
    top: 56px!important;
    left: auto!important;
    right: -20px!important;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 0;
    border-radius: 0;
  }
  #navbar-main .dropdown-menu:before {
    display: none!important;
  }
  #navbar-main .dropdown-menu-inner {
    padding: 0;
  }
  #navbar-main .dropdown-menu a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .25rem;
  }
  #navbar-main .dropdown-menu a:hover {
    color: #666!important;
    background-color: #f5f5f5!important;
  }
  #navbar-main .dropdown:hover a.nav-link {
    background-color: #f5f5f5!important;
  }
  #navbar-main .nav-item .media {
    margin-bottom: 0 !important;
  }

  .anchor a::before {
    left: unset;
    right: 100%;
  }
  a.anchor-link {
    left:auto;
  }

  .flag-forkme {
    display: block;
  }
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translateX(20px)
  }

  100% {
      opacity: 1;
      transform: translateX(0)
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -ms-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight
}
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Carbon Ad Style */
#carbonads{
  position:fixed;
  bottom:20px;
  right:20px;
  padding:.625em;
  box-sizing:content-box;
  max-width:130px;
  z-index:900;
  background-color:#f7f8fb;
  box-shadow: 0px 1px 7px 1px rgb(0 0 0 / 20%);
  border-radius: 0.25rem;
}
#carbonads span{
  display:block
}
#carbonads img{display:block;margin-bottom:.75em}
#carbonads .carbon-text{color:#565454;display:block;font-size:.75em;line-height:1.4em}
#carbonads .carbon-poweredby{color:#777;font-size:.5em;letter-spacing:1px;line-height:1;text-transform:uppercase}
@media only screen and (min-width:320px) and (max-width:1027px) {
  #carbonads{
    bottom:auto;
    float:none;
    margin:20px 0;
    max-width:100%;
    padding:1em;
    position:relative;
    right:auto
  }
  #carbonads .carbon-wrap{display:flex;flex-direction:row}#carbonads img{margin:0 1em 0 0}
  #carbonads .carbon-text{font-size:.825em;margin-bottom:1em}
  #carbonads .carbon-poweredby{bottom:15px;left:162px;position:absolute}
}
@media only screen and (min-width:320px) and (max-width:429px){
  #carbonads .carbon-wrap{flex-direction:column}
  #carbonads img{margin:0 0 .5em}#carbonads .carbon-text{margin-bottom:0}#carbonads .carbon-poweredby{left:auto;position:static;right:auto}
}
@media only print{#carbonads{display:none}}
